<div class="bs-docs-header" id="content" style="background-color: #878314">
  <div class="container">
    <div class="row">
      <h1 style="font-size: 60px;color:#ffffff;">Editing Project</h1>
    </div>
  </div>
</div>

<div class="container bs-docs-container">

  <br/><br/>
  <%= render 'layouts/tail'%>
  <%= render 'form' %>
  <strong><%= link_to 'Show', @project %> |</strong>
  <%= render 'layouts/tail'%>
</div>

