<div class="bs-docs-header" id="content" style="background-color: #878314">
  <div class="container">
    <div class="row">
      <h1 style="font-size: 60px;color:#ffffff;">Editing Admin</h1>
    </div>

  </div>
</div>

<div class="container bs-docs-container">
  <br/><br/>
  <%= render 'layouts/tail'%>
  <div class="row">
    <div class="col-lg-1" style="margin-bottom: 10px">
      <%= link_to 'Show', @admin, class:"btn btn-primary",style:"color: white"  %>
    </div>
  </div>
  <%= render 'form' %>

  <br/><br/>
  <%= render 'layouts/tail'%>

</div>