<div class="bs-docs-header" id="content" style="background-color: #878314">
  <div class="container">
    <div class="row">
    <h1 style="font-size: 60px;color:#ffffff;">New Admin</h1>
    </div>
  </div>
</div>

<div class="container bs-docs-container">
<br/><br/>
  <%= render 'layouts/tail'%>

<%= render 'form' %>

  <%= render 'layouts/tail'%>

</div>